* {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    color: white;
    background-color: rgb(69, 69, 236);
}

h1 {
    text-align: center;
}

ul {
    text-align: center;
    padding: 0;
    list-style-position: inside;
}

li {
    display: inline-block;
    text-align: center;
    margin: 10px; /* Adjust margin as needed for spacing */
}

h1 {
    font-size: 40px;
}

img {
    display: block; /* Ensure images are on a new line, below the text */
    margin-top: 5px; /* Adjust margin as needed for spacing between text and image */
    width: 250px;
    height: 200px;
    object-fit: cover; /* Maintain the aspect ratio of the images and cover the entire container */
}
